{{>partial_header}}
package main

import (
    "github.com/gorilla/handlers"
	"log"
	"net/http"
    "os"

	{{packageName}} "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/{{sourceFolder}}"
)

func main() {
	log.Printf("Server started")
    // Initialize DB connection as global variable
    {{packageName}}.InitializeDBConnection()
{{#apiInfo}}{{#apis}}
	{{classname}}Service := {{packageName}}.New{{classname}}Service()
	{{classname}}Controller := {{packageName}}.New{{classname}}Controller({{classname}}Service)
{{/apis}}{{/apiInfo}}
    LoginApiService := server.NewLoginApiService()
    LoginApiController := server.NewLoginApiController(LoginApiService)

	router := {{packageName}}.NewRouter(LoginApiController,{{#apiInfo}}{{#apis}}{{classname}}Controller{{^-last}}, {{/-last}}{{/apis}}{{/apiInfo}})

    {{#featureCORS}}
    if env, ok := os.LookupEnv("CYLA_ENV"); ok && env == "dev" {
        log.Fatal(http.ListenAndServe(":{{serverPort}}", handlers.CORS()(router)))
    } else {
        log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
    }
    {{/featureCORS}}
    {{^featureCORS}}
    log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
    {{/featureCORS}}
}
